<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['books']">
      📖🐵 BookMonkey
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['books']">List all books 📚
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <span>
      <a [routerLink]="['books', 'new']">
        <button class="btn btn-success">New Book</button>
      </a>
    </span>
  </div>
</nav>